.accordion {

padding: 0rem  2rem  2rem  2rem;
    border-radius: 3px;
display: grid;


}



.accordion-visible {
    background-color: #ff6060;
display: flex;
 color: white;
    cursor: pointer;

   border-radius: 5px;
height: 52px;

}




 .accordion-visible h2 {

text-align: left;
     font-size: 20px; 

display: flex;
    
 } 

.accordion-visible img {
  

margin-top: -2rem;


justify-self: end;
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;

}
.accordion-visible img.active {
    transform: rotate(0deg)
}

.accordion-visible span {
   display: grid;
    font-size: 20px;

}

.accordion-toggle {
padding: auto;
    height: 0px;
    font-size: 18px;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #ff6060;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.animated {
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
margin-right: 3rem;
margin-left: 2rem;
  text-size-adjust:content;   
    pointer-events: none;
    line-height: 1.3;

}
.box-description {

grid-area: 5/2;
margin-right: -2rem;

display:grid;
 width: max(47vw, 200px);



}







.box-equipement{
margin-bottom: 4rem;
display:inline-grid;

grid-area: 5/1;
 width: max(47vw, 200px); 




}
.wapper_accordion {
display: grid ;
margin-right: -12rem;
margin-left: -3rem;
height: 52px;

   grid-area: 6/1; 
grid-template-columns: 1fr 1fr ;
grid-template-rows: 52px 52px;

}
.accordion .accordion-visible{
display:grid;

}